@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;700&display=swap');

:root {
  --dark: #272a31;
  --salmon: #ee523c;
  --grey: #d3d3d3;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar button {
  border: none;
  font-size: 1.5rem;
}

.date {
  font-size: 2rem;
  line-height: 1rem;
}

.hero {
  background-image: url(./img/bg-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 3rem;
}

.titles-container {
  padding: 0 3rem;
  margin-bottom: 1.5rem;
}

.titles-container .city {
  font-size: 10px;
  color: #7a7a7a;
}

.red-bg {
  background-image: url(./img/color-bg.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  font-weight: 700;
}

.red-bg h2 {
  padding-left: 2.2rem;
}

.main-schedule {
  background-image: url(./img/main-schedule-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--grey);
}

.main-schedule p.main-program {
  padding: 1rem 0 1.5rem;
}

.main-schedule p.main-program::after,
.main-invited p.main-program::after {
  content: '';
  display: block;
  border-bottom: 1px solid var(--salmon);
  margin: 0 15rem;
  padding-top: 1rem;
}

.w-border {
  background-color: #3b3e4560;
}

.main-partners img {
  width: 17%;
}

.cardRow h3 {
  color: var(--salmon);
  font-size: 1.4rem;
}

.join-btn button {
  background-color: #ee523c;
  padding: 1.5rem 0;
  color: #fff;
  border-radius: 5%;
  width: 80%;
  font-size: 1.6rem;
}

.cardRow img {
  max-width: 30%;
}

.titles-container h6 {
  padding: 0 1rem 1rem 0;
}

.content-invited {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.content-invited img {
  max-width: 30%;
  height: auto;
  padding: 0.5rem;
}

.content-invited h4 {
  font-weight: 700;
}

.content-invited h5 {
  color: #ee523c;
  font-weight: 600;
}

.invited-content {
  padding-right: 1rem;
}

.invited-content p {
  font-weight: 500;
}

.invited-content h5::after {
  content: '';
  display: block;
  border-bottom: 1px solid var(--salmon);
  margin: 0;
  padding-top: 0.7rem;
  width: 4%;
  margin-bottom: 1rem;
}

.top-nav,
.main-partners,
.main-footer {
  display: none;
}

.bx-chevron-down {
  color: #ee523c;
  font-size: 1.8rem;
}

.more-invited-btn {
  width: 90vw;
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  margin-bottom: 2rem;
  background-color: #fff;
  font-weight: 600;
}

/* About Page */
.text-red {
  color: var(--salmon);
}

.hero.about {
  background-image: url(./img/bg-about.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero.about h1 {
  line-height: 2.9rem;
  font-weight: bolder;
  font-size: 2.5rem;
}

.hero.about h6 {
  line-height: 1.75rem;
}

.titles-container.about {
  background-color: #fff;
  padding: 2rem 1rem;
  max-width: 90vw;
}

.main-schedule-about h3:nth-child(2)::after {
  content: '';
  display: block;
  border-bottom: 1px solid var(--salmon);
  margin: 0 auto;
  padding-top: 1rem;
  width: 6%;
}

.main-schedule-about p.main-program::after {
  content: '';
  display: block;
  border-bottom: 1px solid var(--salmon);
  margin: 0 auto;
  padding-top: 1rem;
  width: 6%;
}

.main-schedule-about img.logo {
  border-radius: 50%;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.grey-bar {
  border: 1px solid var(--grey);
  margin-top: 4rem;
}

.last-meet img {
  width: 70%;
  display: block;
  margin: 0 auto;
  filter: brightness(100%) saturate(1000%) hue-rotate(90deg);
}

.last-meet img:nth-child(1) {
  margin-bottom: 2rem;
}

.about-container-img {
  border: 1px solid var(--grey);
  padding: 1rem;
  border-radius: 1px;
}

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 10px;
}

.text-overlay span {
  display: block;
}

.show {
  display: block;
}

.main-partners p::after {
  content: '';
  display: block;
  border-bottom: 1px solid var(--salmon);
  margin: 0 auto;
  padding-top: 1rem;
  width: 6%;
}

.main-partners {
  background-color: #7a7a7a;
  height: 25vh;
  padding-top: 2rem;
  color: #fff;
}

@media (max-width: 767px) {
  .cardRow {
    display: flex;
  }

  .cardRow img {
    max-width: 25%;
  }
}

@media (min-width: 767px) {
  .cardRow img {
    max-width: 70%;
  }
}
